beautifulsoup4==4.12.2
#chromadb==0.3.25
clickhouse_connect==0.5.25
#cohere==4.5.1
dataclasses_json==0.5.7
#discord.py==2.2.3
docx2txt==0.8
ebooklib==0.18
feedparser==6.0.10
google_api_python_client==2.86.0
google_auth_oauthlib==1.0.0
gpt_index==0.6.10.post1
gptcache==0.1.26
#grpc==1.0.0
html2text==2020.1.16
httpx==0.24.1
#ipython==8.10.0
ipython==8.13.2
metal_sdk==1.0.2
nbconvert==7.4.0
networkx==3.1
nltk==3.8.1
numpy==1.24.3
Pillow==9.5.0
pydantic==1.10.7
pydub==0.25.1
pymilvus==2.2.8
pymongo==4.3.3
pypdf==3.9.0
pytest==7.2.1
#qdrant_client==1.2.0
rake_nltk==1.0.6
Requests==2.31.0
scikit_learn==1.2.2
sentencepiece==0.1.99
setuptools==65.5.0
slack_sdk==3.21.3
sphinx_rtd_theme==1.2.1
SQLAlchemy==2.0.13
tenacity==8.2.2
tensorflow_hub==0.13.0
tiktoken==0.3.3
torch==2.0.1
tqdm==4.65.0
trafilatura==1.6.0
transformers==4.29.1
#tweepy==4.13.0
whisper==1.1.10
#youtube_transcript_api==0.6.0
